/* h1 es mmi nombre*/
h1 {
    color:cadetblue;/*Fuente de color*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipo de fuente*/
background-color: beige;/*fondo de color*/
text-align: center;/*ubicacion del texto*/
}
h3{
    color:chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    text-align: center;
    background-color: burlywood;
    padding:3px ;/*separa el contenido del borde*/
    list-style-type:none;/*saca el 1,2,3 de li*/
}
a{/*enlace*/
    color: green;
}
.contacto{
    text-align: right;/*posicion derecha*/
}
.box_img{
    text-align: center;
    width: auto;
    height: 100%;
    padding-top: 10px;
    margin-top: auto;
}
.datos_personales{
    text-align: center;}